__pycache__/primitives_4p1.cpython-38.pyc
__pycache__/primitives_4p3.cpython-38.pyc
__pycache__/primitives_4p11.cpython-38.pyc
__pycache__/main.cpython-38.pyc
__pycache__/primitives_4p3.cpython-38.pyc
__pycache__/primitives_4p1.cpython-38.pyc
__pycache__/*